   <p>ini adalah contact</p>
    <table border="1">
        <thead>
            <tr>
                <th>name</th>
                <th>mobile</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
     <% item.forEach(contact=> { %>
    <tr>
     <td> <%= contact.name%> </td>
     <td> <%= contact.mobile%> </td>
     <td> <%= contact.email %></td>
 </tr> 
 <% }) %>  
        </tbody>
    </table>   