<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        welcome to the home page
    </header>
    <nav>
        <a href="index.html">home</a>
        <a href="about.html">bout</a>
        <a href="contact.html">contact</a>
    </nav>
    <main>
        <div class="container">
            <h2>about us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non id in repudiandae iste minus provident, aut ab eaque culpa repellendus dicta molestiae. Excepturi, blanditiis aperiam. Suscipit numquam exercitationem sed fuga.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium nostrum labore dolore eum quisquam beatae corporis sed voluptatum, distinctio est atque! Illo quam, soluta ut ad eligendi vitae officiis eaque.</p>
        </div>       
    </main>
        <footer>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, sint.</footer>
</body>
</html>