    <%- include('layout/header') %>
    <%- include('layout/nav) %>
    
    <main>
        <div class="container">
            <h2>about us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non id in repudiandae iste minus provident, aut ab eaque culpa repellendus dicta molestiae. Excepturi, blanditiis aperiam. Suscipit numquam exercitationem sed fuga.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium nostrum labore dolore eum quisquam beatae corporis sed voluptatum, distinctio est atque! Illo quam, soluta ut ad eligendi vitae officiis eaque.</p>
        </div>       
    </main>

    <%- include('layout/footer') %>


        