<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title  %></title>
</head>
<body>
    <%= body %>
</body>
<footer>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, sint.
    <%  %>
</footer>
</body>
</html>
</html>